<div (click)="showStats()">
  <p>{{chirp.content}}</p>
  <p class="metadata">By {{chirp.author.username}} on {{chirp.createdAt | date:'medium'}}</p>
</div>
<div class="action-buttons">
  <button (click)="shareChirp()">Share ({{sharesLength}})</button>
  <button *ngIf="!chirp.deleteDate && username === chirp.author.username" (click)="deleteChirp()">Delete</button>
  <p *ngIf="chirp.deleteDate">This chirp will be deleted on {{chirp.deleteDate | date}}</p>
</div>
<app-stats *ngIf="isStatisticVisible" [stats]="stats"></app-stats>
