<form (ngSubmit)="submitForm(form)" #form="ngForm" novalidate>

  <div class="field" [ngClass]="{'has-error': feedbackEnabled && chirpContentField.errors}">
    <label>Share your thoughts:</label>
    <input type="textarea" name="chirpContent" [(ngModel)]="chirpContent" #chirpContentField="ngModel" required maxlength="255"/>
    <div *ngIf="feedbackEnabled && chirpContentField.errors">
      <p *ngIf="chirpContentField.errors.required" class="validation">Don't be shy, write something!</p>
      <p *ngIf="chirpContentField.errors.maxlength" class="validation">Too long! Try something shorter, please.</p>
    </div>
  </div>

  <div class="field submit">
    <button type="submit">Chirp!</button>
    <div *ngIf="feedbackEnabled && form.invalid">
      <p class="validation">Something went wrong!</p>
    </div>
  </div>
</form>