<div *ngIf="!isUserCurious"> <!--remove isanswered-->
    <app-question [question]="question" (selected)="onSelected($event)"></app-question>
</div>

<div *ngIf="isUserCurious">
    <app-explo-screen [explonation]="getExplonation()" (mouseClick)="nextQuestion()" ></app-explo-screen>
</div>

<div *ngIf="isAnswered && !isUserCurious">
    <button class="button" (click)="showExplonations()">Learn Why</button>
    <button class="button" (click)="nextQuestion()">Next Question</button>
</div>

<div *ngIf="wasTheLastQuestion()">
    <app-quiz-endscreen></app-quiz-endscreen>
</div>

<!--wasTheLastQuestion
(mouseClick)="getQuestions()"-->