<div class = "quiz-page">
    <h1 class="big-title">Learn Together</h1>

    <div *ngIf="!isUserCurious"> <!--remove isanswered-->
        <app-question [question]="question" (selected)="onSelected($event)"></app-question>
    </div>
    
    <div *ngIf="isUserCurious">
        <app-explo-screen [explonation]="getExplonation()" [continueButtonText]="continueButtonText" (mouseClick)="nextQuestion()" ></app-explo-screen>
    </div>
    
    <div *ngIf="isAnswered && !isUserCurious" class="quiz-buttons-box">
        <button (click)="showExplonations()" class="quiz-button-style" id="q-button-1">Learn Why</button>
        <button (click)="nextQuestion()" class="quiz-button-style" id="q-button-2">{{continueButtonText}}</button>
    </div>
    
    <div *ngIf="wasTheLastQuestion()">
        <app-quiz-endscreen [score]="score" (mouseClick)="getQuestions()"></app-quiz-endscreen>
    </div>

</div>
<!--wasTheLastQuestion
(mouseClick)="getQuestions()"-->